<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let item of hero">
        <img class="sliderone" src="{{item.fields.img.fields.file.url}}" style="position: relative;">
        <h1 class="Titles"> {{item.fields.title}}</h1>
        <p class="description">  {{item.fields.description}}</p>
         <button class="btn btn-lg btn-primary btn">{{'hero.button'|translate}}</button>    
    </ng-template>
    <!-- <ng-template carouselSlide>
            <img class="sliderone" src="../../../assets/data/img/2.png" />
            <h2 class="Titles">{{'hero.headingTwo'|translate}}</h2>
            <div class="container">
           <p class="description descriptionTwo">{{'hero.descriptionTwo'|translate}}</p>
        </div>
        </ng-template> -->
    <!-- <ng-template carouselSlide>
            <img class="sliderone" src="../../../assets/data/img/3.png" />
            <h3 class="Titles">{{'hero.headingThree'|translate}}</h3>
            <div class="container">
            <p class="description desthree">{{'hero.descriptionThree'|translate}}</p>
        </div>
        </ng-template> -->
</owl-carousel-o>