<section id="about-us" class="aboutinfo about-area py-5 py-md-6">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(assets/data/img/pattern-5.png);"></div>
        <div class="pattern-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 517.5 418.9" style="fill: #f7f8f9;">
                <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                        <path class="cls-1"
                            d="M266 402l-28 17L76 138a89 89 0 0132-122l29-16 162 281a89 89 0 01-33 121zM473 402l-28 17-163-281a89 89 0 0133-122l28-16 163 281a89 89 0 01-33 121z">
                        </path>
                        <path d="M157 402H0l85-121 72 121z"></path>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="container">
        <div class="section-title text-center mb-4">
            <h1 style="line-height: 1.2;">
                {{'aboutUs.ABOUTUS'|translate}}
            </h1>
        </div>
        <div class="line-sperator mx-auto"></div>
        <div class="container" *ngFor="let item of aboutus">
            <div class="row" >
                <div class="col-sm-12 col-md-6 col-lg-6 size about-us-title" style="width: 57%;">
                    <h2 class="col-sm-12 wow animate__animated animate__fadeInDown about-us-title " data-wow-duration="2s"
                    data-wow-delay="0s" >
                    {{item.fields.subTitle}}
                </h2>
                    <div class="about-left">
                            <img class="aboutus-img" src="{{item.fields.aboutUsImage.fields.file.url}}" >
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 size" style="width: 43%;">
                    <div class="about-quote  about_blockquote wow animate__animated animate__fadeInLeft " data-wow-duration="2s"
                        data-wow-delay="1.4s">
                        <blockquote>
                            {{item.fields.paragraphone}}
                        </blockquote>
                        <blockquote>
                            {{item.fields.paragraphtwo}}
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




