<section class="footer pb-0">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <!-- FOOTER WIDGET -->
                <div id="contact-us" class="contactus col-sm-6">
                    <div class="footer-widget p-2 p-md-5 rounded" style="background-color: #001c35;">
                        <h2 class="h-title h-title2">{{'contact_us.contact'|translate}}</h2>
                        <div id="contactform">
                            <form class="row">
                                <p class="col-6"><input type="text" class="form-control" name="name" id="name"
                                        tabindex="1" placeholder="{{'contact_us.Name'| translate}}:"
                                        style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                </p>
                                <p class="col-6"><input type="text" class="form-control" name="email" id="email"
                                        tabindex="2" placeholder="{{'contact_us.email'|translate}}: "></p>
                                <p><input type="text" class="form-control" name="phone" id="phone" tabindex="3"
                                        placeholder="{{'contact_us.phone'|translate}}:"></p>
                                <p><textarea class="form-control" name="comments" id="comments" tabindex="4"
                                        placeholder=" {{'contact_us.massage'|translate}}:"></textarea></p>
                                <p><input type="button" name="submit" id="submit" class="btn medium btn-orange"
                                        value="{{'contact_us.send_btn'|translate}}"></p>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END FOOTER WIDGET -->
                <!-- FOOTER WIDGET -->
                <div class="col-sm-6">
                    <div class="footer-widget" *ngFor="let cont of contact_us">
                        <!-- https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.514457578544!2d35.864520215161825!3d31.97406658122182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca158dd71cb6f%3A0xa7894d180c5a5f29!2sModel%20Business%20Solutions!5e0!3m2!1sen!2sjo!4v1624869814289!5m2!1sen!2sjo -->
                        <h6 class="h-title">{{'contact_us.keep_in_touch'|translate}}</h6>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.514457578544!2d35.864520215161825!3d31.97406658122182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca158dd71cb6f%3A0xa7894d180c5a5f29!2sModel%20Business%20Solutions!5e0!3m2!1sen!2sjo!4v1624869814289!5m2!1sen!2sjo"
                            width="100%" height="480" frameborder="0" style="border:0;min-height: 230px;height: 100%;"
                            allowfullscreen="">
                        </iframe>
                        <div class="my-0 my-md-5 d-flex justify-content-center justify-content-md-start ">
                            <div class="">
                                <ul class=" posts">
                                    <li>
                                        <a href="">
                                            {{cont.fields.staticLocation}}
                                            <br>
                                            {{'contact_us.office'|translate}}: {{cont.fields.modelNumber}}<br>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:info@nextwo.com"> {{'contact_us.email'|translate}}:
                                            {{cont.fields.modelEmail}}</a>
                                    </li>
                                </ul>
                                <ul class=" social-links">
                                    <li>
                                        <a href="#" title="Facebook ">
                                            <fa-icon [styles]="{'color': 'white', 'width':'11px'}" [icon]="faFacebook">
                                            </fa-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Twitter">
                                            <fa-icon [icon]="faTwitter" [styles]="{'color': 'white', 'width':'12px'}">
                                            </fa-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Linkedin">
                                            <fa-icon [icon]="falinkedin" [styles]="{'color': 'white', 'width':'12px'}">
                                            </fa-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END FOOTER WIDGET -->
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="copyright">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">© {{'contact_us.rights'| translate}}
                        <a href="#">
                            <span class="text-white">
                                <strong> {{'contact_us.name'| translate}} </strong>
                            </span>
                        </a> 2021
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>