<p>ayham works!</p>
<div class="container">
<div class="row">
  <div class="clo" *ngFor="let item of data">
    <div class="card" style="width: 18rem;">
      <img src="{{item.fields.img.fields.file.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{isEnLang?item.fields.userName:item.fields.userName}}</h5>
        <p class="card-text">{{item.fields.discription}}</p>
        <p class="card-text text-danger">{{item.fields.desc}}</p>
        <a href="#" (click)="goToDetailasPage(item.sys.id)" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="clo" *ngFor="let item of data">
    <div class="card" style="width: 18rem;">
      <img src="{{item.fields.img.fields.file.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.fields.userName}}</h5>
        <p class="card-text">{{item.fields.discription}}</p>
        <p class="card-text text-danger">{{item.fields.desc}}</p>
        <a href="#" (click)="goToDetailasPage(item.sys.id)" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="clo" *ngFor="let item of data">
    <div class="card" style="width: 18rem;">
      <img src="{{item.fields.img.fields.file.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.fields.userName}}</h5>
        <p class="card-text">{{item.fields.discription}}</p>
        <p class="card-text text-danger">{{item.fields.desc}}</p>
        <a href="#" (click)="goToDetailasPage(item.sys.id)" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>