    <section id="our-partner" class="py-md-6 py-5">
        <div class="container-fluid px-5 ">
            <div class="container ">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-title text-center">
                            <h1 style="line-height: 1.2;">
                                {{'partners.header'| translate}} 
                            </h1>
                        </div>
                    </div>
                    <div class="line-sperator mx-auto"></div>

                    <owl-carousel-o [options]="customOptions" #owlCar class="mb-5" >
                        <ng-template carouselSlide *ngFor="let item of data">
                            <div class="slide">
                                <!-- {{'partners.img1' | json}} -->
                             <img width="150" height="150" src="{{item.img}}">
                            </div>
                        </ng-template>
                    </owl-carousel-o> 
                </div>
            </div>
        </div>
    </section>

    


                