<!-- <div class="input-group mb-3">
    <button class="btn btn-outline-secondary" type="button" (click)="add();">add</button>
    <button class="btn btn-outline-secondary" type="button" (click)="get();">get</button>
    <button class="btn btn-outline-secondary" type="button" (click)="delete();">delete</button>

    <input type="text" id="txtvalue" class="form-control" placeholder="" aria-label="Example text with two button addons">
</div> -->

<!-- <router-outlet></router-outlet> -->
<app-home></app-home>
