<section id="testimonials">
    <div class="container-fluid p-5 ">
        <div class="container  pb-6 overflow-hidden">
            <div class="row h-100">
                <div class="col-sm-12">
                    <div class="section-title text-center">
                        <h1 style="line-height: 1.2;">
                            {{'partners.this_is_why_we_do'| translate}}
                        </h1>
                    </div>
                </div>
                <div class="line-sperator mx-auto"></div>
                <div class="col-12 text-center">
                    <owl-carousel-o [options]="customOptions" #owlCar class="mb-5">
                        <ng-template carouselSlide *ngFor="let test of tests ; let i = index">
                            <div class="row">
                                <div class="col-12 text-center mb-3">
                                    <div class="img-wrapper mx-auto">
                                        <div class="slide slide_c">
                                            <img src="../assets/data/img/avatar0.jpg" class="img-circle">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 qoutSec mx-auto max93 img-wrapper d-flex justify-content-center">
                                    <p>
                                        {{test.fields.sayes}}
                                    </p>
                                    <small> <strong>
                                            {{test.fields.name}}
                                        </strong><br>
                                    </small>
                                </div>
                                <small>
                                    {{test.fields.position}}
                                </small>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="news-letter" class="py-4" style="
    background: #f1f1f1;">
    <div class="container">
        <div class="Subscribe-wrapper">
            <div class="row">
                <div class="col-md-4 col-12">
                    <h5 class="h-title"> {{'partners.subscribe'| translate}}</h5>
                    <p>{{'partners.enter_email'| translate}}</p>
                </div>
                <div class="col-md-8 col-12">
                    <div id="model_signup" class="m-0">
                        <form class="d-flex justify-content-center flex-md-row flex-column">
                            <input type="email" placeholder="{{'partners.email'| translate}}" class="mt-3 mt-md-0">
                            <button type="submit" class="mt-3 mt-md-0 ms-0 ms-md-4">
                                {{'partners.email_submet'| translate}}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>